extends layout 

block content
  h2 Product: #{product.name}
  p #[strong Price: ] #{product.price}$

  if product.image && product.image.url 
    img(src=product.image.url, alt="Product image")
  
  p
    strong Description: 
    br
    | #{product.description}
  p #[strong Number in stock: ] #{product.number_in_stock}
  p #[strong Categories: ]

  if product.categories.length > 0
    ul 
      each category in product.categories
        li: a(href=category.url) #{category.name}
  else 
    p This product has no categories

  hr
  p: a(href=(product.url + '/delete')) Delete product
  p: a(href=(product.url + '/update')) Updaet product